<!-- Exercise 1
In your file create a variable called my_name with your name as the value. Put your name inside string quotes, e.g., "my name". Then add a line of code to print the variable name. -->

<!-- Exercise 1

My Name -->

In [141]:
my_name = "Bishnu"
# print(my_name)
my_name

'Bishnu'

<!-- Exercise 2

Create a variable called age with a number that is your age. Do not use string quotes for numbers.

Add a line to print that variable. Save the file and run the cell. You should see your age. -->

<!-- Ex-- 2  Age -->

In [142]:
age = 28
print(age)

28

<!-- Exercise 3

Create a variable called julia_age with the value 32. Create another variable called age_diff and set it to an expression that calculates your age minus Julia's age. Print your age and the value of age_diff. If you are younger than Julia, age_diff should be a negative number. -->

<!-- Exercise 3

Create a variable called julia_age with the value 32. Create another variable called age_diff and set it to an expression that calculates your age minus Julia's age. Print your age and the value of age_diff. If you are younger than Julia, age_diff should be a negative number. -->

<!-- Exercise 3
Create a variable called julia_age with the value 32. Create another variable called age_diff and set it to an expression that calculates your age minus Julia's age. Print your age and the value of age_diff. If you are younger than Julia, age_diff should be a negative number. -->

In [ ]:
my_age = 35
julia_age = 32
age_diff = my_age - julia_age
print(my_age)
print(age_diff)



#     else if age == julia_age:
# print('your age is same as Juliya')
# else print('you are younger than Juliya')

#print(type(age_diff))  data type
#Casting to convert data fooat(2)
#print(f)
#List
# name
# name.upper()
#name.lower()
#foxes.insert(2,'horst')

35
3

<!-- Exercise 4

Write a conditional that compares the variable holding your age with the number 21. It should print either "You are older than 21" or "You are not older than 21", appropriately, depending on your age. Save your file and run the cell. Make sure you see the correct message. Try changing your age in the file to make sure the other message prints when it should. -->

<!-- Exercise 4

Write a conditional that compares the variable holding your age with the number 21. It should print either "You are older than 21" or "You are not older than 21", appropriately, depending on your age. Save your file and run the cell. Make sure you see the correct message. Try changing your age in the file to make sure the other message prints when it should. -->

In [149]:
my_age = 35

if my_age< 21:
    print('You are not older than 21')
else:
    print('You are older than 21')

You are older than 21

<!-- Exercise 5

Write a conditional that compares your age with Julia's age. This conditional will need to test if you are older, younger, or the same age, and print, appropriately, either "Julia is older than you", "Julia is younger than you", or "You are the same age as Julia". -->

<!-- Exercise 5

Write a conditional that compares your age with Julia's age. This conditional will need to test if you are older, younger, or the same age, and print, appropriately, either "Julia is older than you", "Julia is younger than you", or "You are the same age as Julia". -->

In [1]:

my_age = 35
julia_age = 32
# name = 'Bishnu'

if my_age > julia_age:
    print('you are older than Juliya')
elif my_age == julia_age:
    print('Your are the same age as Juliya')
else: 
    print('you are younger than Juliya')

you are older than Juliya

<!-- Exercise 6

Create a list with all the names of your class (including mentors). Sort the list alphabetically, then print the first element of the list.
On the next line, print the last element of the list. On the next line, print all the elements of the list (use a "for" loop). -->

<!-- Exercise 6

Create a list with all the names of your class (including mentors). Sort the list alphabetically, then print the first element of the list.
On the next line, print the last element of the list.
On the next line, print all the elements of the list (use a "for" loop). -->

In [ ]:
##Slicing
list = ['bishnu', 'bo', 'marco', 'rahul', 'keya', 'bruno', 'emily', 'janina']
list.sort()
for i in list:
    print(i)

    
# list
# sorted_list = list.sort()
# print(list)
# print(list[0])
# print(list[2:7])
# #print(list[2:])
# print(list[:7])
# list[1] = 'Boo'

# list.insert(0,'Bishnu')
# list.append('Josh')

# #list.pop(1)
# #del list
# print(list)

# print(list[-4:-1])

# '''min function'''

# ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
# i = min(ages)
# print(i)

bishnu
bo
bruno
emily
janina
keya
marco
rahul

In [95]:
#exercise 6
'''List and Loop'''
student_list = ['bishnu', 'bo', 'bruno','keya',  'emily', 'janina','marco', 'rahul']
#print()
#student_list
#print(student_list)
#student_list[0]
#print(student_list[0])
#print(student_list[7])

# for x in student_list:
#     print(x)



for x in range(len(student_list)):
    print(student_list[x])

bishnu
bo
bruno
keya
emily
janina
marco
rahul

In [93]:
#tuple
tuple_student_list = ('bishnu', 'bo', 'bruno','keya',  'emily', 'janina','marco', 'rahul')
print(tuple_student_list)
print(len(tuple_student_list))
print(type(tuple_student_list))

('bishnu', 'bo', 'bruno', 'keya', 'emily', 'janina', 'marco', 'rahul')
8
<class 'tuple'>

<!-- '''Exercise 7

Create a list with all the ages of the students in your class. Iterate through the list using a for loop, and then print every age. 
Add a conditional inside the loop to only print even ages (Hint: have a look for Python's modulus operator).
Try to do the same thing using a while loop.''' -->

<!-- Exercise 7

Create a list with all the ages of the students in your class. Iterate through the list using a for loop, and then print every age. Add a conditional inside the loop to only print even ages (Hint: have a look for Python's modulus operator). -->

In [186]:

age = [35,25,22,28,32,33,42,41]
for x in age:

    if (x %2 == 0 ):
        print(x) 

# for x in age:
#     # print(x)
#     count = 0
# if (x%2==0):
#         # count = count + 1
#     print(x)

22
28
32
42

<!-- Exercise 8

Write a list containing numbers and print the lowest number. -->

<!-- Exercise 8

Write a list containing numbers and print the lowest number. -->

In [187]:

age = [20,25,29,32,35,45,48]
i = min(age)
print(i)

20

<!-- Exercise 9

Write a list containing numbers and print the highest number. -->

<!-- Exercise 9

Write a list containing numbers and print the highest number. -->

In [204]:
age = [20,25,68,32,35,45,30]
age.sort()
i = max(age)
print(i)

68

In [2]:
'''Loop Class'''
#For AND while loop
'''for variable in sequence:
statement'''

student_age = [35,25,22,28,32,33,42,41]
for age in student_age:
    print(age)

35
25
22
28
32
33
42
41

In [94]:
#student_age = [35,25,22,28,32,33,42,41]
student_list = ['bishnu', 'bo', 'bruno','keya',  'emily', 'janina','marco', 'rahul']
new_list = []
for i in student_list:
    if 'b' in i:
        new_list.append(i)
        print(i)
            

# fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
# newlist = []

# for x in fruits:
#   if "a" in x:
#     newlist.append(x)

# print(newlist)

# len(student_age)
# range(7)
#range(len(student_age))
#loop with range(), range(), range (start,stop,step)
# for i in range(6):
#     print(i)
    # '''for i in range(0,6):
    # print(i)'''

bishnu
bo
bruno

In [88]:
student_list = ['bishnu', 'bo', 'bruno','keya',  'emily', 'janina','marco', 'rahul']
student_list.sort()
print(student_list)

student_list = ['bishnu', 'bo', 'bruno','keya',  'emily', 'janina','marco', 'rahul']
student_list.sort(reverse=True)
print(student_list)

['bishnu', 'bo', 'bruno', 'emily', 'janina', 'keya', 'marco', 'rahul']
['rahul', 'marco', 'keya', 'janina', 'emily', 'bruno', 'bo', 'bishnu']

In [137]:
#'enumerate function() --result as a tuple
student_age = [35,25,22,28,32,33,42,41]
#for i in enumerate(student_age):
   #print(i)

for i,g in enumerate(student_age, start=15):
   print(i,g)

15 35
16 25
17 22
18 28
19 32
20 33
21 42
22 41

In [ ]:
#Pass , Break , continue
'''student_age = [35,25,22,28,32,33,42,41]
for ages in student_age:
    pass'''


'''or i in range(30):
    if i>10:
        break
        print(i)'''
    
student_age = [35,25,22,28,32,33,42,41]
for i in student_age:
    if i>35:
        break
    print(i)
        #continue

35
25
22
28
32
33

In [118]:
#upper()
#create list of tuples 
student_age = [(35,30), (25,22),(10,20)]
len(student_age)
for i in student_age:
    print(i)

(35, 30)
(25, 22)
(10, 20)

In [ ]:
#for loop over dictionary/ .values() / .items()/ print(item[0]item[1])
#while loop 
#while condition true then print 
#while colour in rainbow
'''print()
break:
else 
print ()'''

x = 0
while x < 5: 
    print('finity')
    x = x + 1

infinity
infinity
infinity
infinity
infinity

In [136]:
#rainbow conformation program
rainbow = ['red','blue','green']
color = input('Type a color or the rainbow')
color
while color in rainbow:
    print(color, 'is in rainbow')
    break
else:
    print(color,'is not a color of rainbow')

red is in rainbow

In [116]:
#for loop for string
cohort = 'foxes'
for i in cohort:
    if i != 'x':
        print(i)

f
o
e
s

In [ ]:
#nested loop : stars
for i in range(3):
    for j in range(4):
        print('*',end= ' ')

#multiplication table
#list comprehension
#copy if list in traditional way / using append(i)
#list_copy = [i for i in my_list] #best way

In [ ]:
# customer_list = [
#                     {"name": "Bob", "age": 1999},
#                     {"name": "Jack", "age": 1995},
#                     {"name": "Lisa", "age": 2005},
#                     {"name": "Maria", "age": 2010},
#                     {"name": "Ben", "age": 2007},
#                     {"name": "Emma", "age": 2006},
#                     {"name": "Oscar", "age": 1994},
#                     {"name": "Amy", "age": 1996},
#                     {"name": "Paul", "age": 1979},
#                     {"name": "Etta", "age": 2008}
# ]

# for customer in customer_list.items():
#     name = customer[name]
#     age = customer[age]
#     print(f"name")


# #     print(customer_list)

AttributeError: 'list' object has no attribute 'items'

<!-- # Exercise 15

# Write a function that takes a person's name and prints a custom message for them.

# E.g. Function name: welcome

# welcome('Evelyn') would print- 'Welcome Evelyn, have a nice day!'

# welcome('Jost'), would print - 'Welcome Jost, have a nice day!' -->

<!-- Exercise 15
Write a function that takes a person's name and prints a custom message for them.
E.g. Function name: welcome -->

In [5]:


def person_name(name):
    return (f"Welcome " + name +' have a nice day!')
person_name('Evelyn')
# person_name('Josh')

'Welcome Evelyn have a nice day!'

<!-- # Exercise 16

# Write a function that takes a string as input and calculates the length.
# Function name: get_length
# get_length('Hello') would print / return 5.
get_length('Hi') would print / return 2. -->

In [4]:

def get_length(string):
    return len(string)
get_length('Hello')

5

<!-- Exercise 17

Write a function which checks whether a number is even.
Function name: check_even
check_even(6) would print / return 'Yes'
check_even(5) would print / return 'No' -->

<!-- # Write a function which checks whether a number is even.
# Function name: check_even
# check_even(6) would print / return 'Yes'
# check_even(5) would print / return 'No' -->

In [6]:

def check_even(num):
    if num % 2 == 0:
        return 'Yes'
    return 'NO'
check_even(5)

'NO'

<!-- Ex--19 -->
<!-- # Write a function that takes a list of integers and also a single integer as inputs. 
# It should return true or false if the single integer value is present or not in the list. -->

<!-- Ex 11 with Function
Use a function to iterate over the list and print the name and age of each customer.
Afterwards, for each customer try to print the sentence "customer_name is customer_age years old".
customer_name and customer_age should correspond to each customer's name and age. -->

In [ ]:
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]
def cust_list():
    for i in customer_list:
        print(i) 
cust_list()

{'name': 'Bob', 'age': 1999}
{'name': 'Jack', 'age': 1995}
{'name': 'Lisa', 'age': 2005}
{'name': 'Maria', 'age': 2010}
{'name': 'Ben', 'age': 2007}
{'name': 'Emma', 'age': 2006}
{'name': 'Oscar', 'age': 1994}
{'name': 'Amy', 'age': 1996}
{'name': 'Paul', 'age': 1979}
{'name': 'Etta', 'age': 2008}

: