In [ ]:
# lowest number 

age = [20,25,29,32,35,45,48]
i = min(age)
print(i)

20

In [2]:
# highest number
age = [20,25,29,32,35,45,48]
i = max(age)
print(i)

48

<!-- Exercise 10

Given below is a list of 10 customers with year of birth, however, the list can be as large as several thousands of customers. 
Use a loop to iterate over the list and print the age of each customer.
 -->

In [28]:
year_of_birth = [1990, 2000, 2005, 1995, 2007, 2006, 1994, 1996, 1979, 2008]
#age = []
#current_year = 2025
for i in year_of_birth:
    age = 2025 - i
    print(age)

35
25
20
30
18
19
31
29
46
17

Use a loop to iterate over the list and print the name and age of each customer.
Afterwards, for each customer try to print the sentence "customer_name is customer_age years old".
customer_name and customer_age should correspond to each customer's name and age.

In [22]:
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]



for customer in customer_list:
    name = customer["name"]
    birth_year = customer["age"]
    age = 2025 - birth_year
    print(f"{name} is {age} years old.")

Bob is 26 years old.
Jack is 30 years old.
Lisa is 20 years old.
Maria is 15 years old.
Ben is 18 years old.
Emma is 19 years old.
Oscar is 31 years old.
Amy is 29 years old.
Paul is 46 years old.
Etta is 17 years old.

In [23]:
from datetime import datetime

for customer in customer_list:
    name = customer["name"]
    birth_year = customer["age"]
    current_year = datetime.now().year
    age = current_year - birth_year
    print(f"{name} is {age} years old.")

Bob is 26 years old.
Jack is 30 years old.
Lisa is 20 years old.
Maria is 15 years old.
Ben is 18 years old.
Emma is 19 years old.
Oscar is 31 years old.
Amy is 29 years old.
Paul is 46 years old.
Etta is 17 years old.

In [86]:
def cust_info(list):
    for customer in customer_list:
        name = customer["name"]
        birth_year = customer["age"]
        age = 2025 - birth_year
        print(f"{name} is {age} years old.")
    # return f"{name} is {age} years old."


cust_info(customer_list)

Bob is 26 years old.
Jack is 30 years old.
Lisa is 20 years old.
Maria is 15 years old.
Ben is 18 years old.
Emma is 19 years old.
Oscar is 31 years old.
Amy is 29 years old.
Paul is 46 years old.
Etta is 17 years old.

<!-- Exercise 12 Given a list of ages, remove the youngest and the oldest person. -->

In [ ]:
ages = [16, 24, 14, 19, 12, 70, 13, 10, 23, 40, 5, 68]
youngest = ages[0] 
for i in ages:
    if i < youngest: 
        youngest = i
        new_age_list = ages

print(youngest)

ages.remove(youngest)
print(ages)

# oldest = new_age_list[0]
oldest = ages[0]
final_age_list = []
for x in ages:
    if x > oldest:
        oldest = x 
        final_age_list = ages
print(oldest)
ages.remove(oldest)
print(ages)

5
[16, 24, 14, 19, 12, 70, 13, 10, 23, 40, 68]
70
[16, 24, 14, 19, 12, 13, 10, 23, 40, 68]

In [259]:

ages = [16, 24, 1, 19, 88, 70, 13, 10, 23, 40, 5, 68]
ages.sort()
print(ages)
# new_ages = ages[1:-1] 
new_ages = ages[1:11]
print(new_ages)

# oldest = ages[]

# ages.sort()
# newls=ages[1:-1]
# print(newls)

[1, 5, 10, 13, 16, 19, 23, 24, 40, 68, 70, 88]
[5, 10, 13, 16, 19, 23, 24, 40, 68, 70]

<!-- Exercise 13

You have two lists with ages of customers from different cities. Remove the duplicates.
 -->

In [311]:
# age = [76, 13, 16, 18, 19, 16, 13, 76]
age = [26, 13, 16, 18, 19, 13, 18]
age = list(dict.fromkeys(age))
# age.sort()
print(age)

[26, 13, 16, 18, 19]

<!-- Now using function  -->

In [310]:
age = [26, 13, 16, 18, 19, 13, 18]
def age_remove_dup():
    return list(dict.fromkeys(age))
age_remove_dup()

[26, 13, 16, 18, 19]

<!-- Exercise 13

You have two lists with ages of customers from different cities. The task is to create a new list with the common ages.
 -->

In [392]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
# new_list_BM = list(set(berlin).intersection(munich))
new_list_BM = list(set(berlin) & set(munich))
print(new_list_BM)

[10, 13, 15, 16, 18, 19]

In [342]:

common = set(berlin) & set(munich)
print(common)

{10, 13, 15, 16, 18, 19}

In [338]:
new = []
for i in berlin:
        if i in munich:
            new.append(i)

            # print(new.append(i))
        # new = i.append()
print(new)

[15, 13, 16, 18, 19, 10]

Using function

In [425]:

# def common_age(berlin,munich):
#     new_list = []
#     new_list = list(set(berlin) & set(munich))
#     return(new_list)


# def common_age(berlin,munich):
#     new_result = []
#     for e in berlin:
#         if e in munich:
#             new.append(e)
#     return new_result
#     # return new

list1 = [15, 13, 16, 18, 19, 10, 12 ]
list2 = [7, 13, 15, 20, 19, 18, 10, 16]
def common_elements(list1, list2):
    result = []
    for element in list1:
        if element in list2:
            result.append(element)
    return result

<!-- Ex 19
Write a function that takes a list of integers and also a single integer as inputs. It should return true or false if the single integer value is present or not in the list. -->

In [34]:
def fun_check(list:list[int], x:int):
    # if list is list.type:

    for number in list:
        if number == x:
            return True
    return False
fun_check([20.0], 20)
# fun_check()

True

<!-- Using slicing, extract the first four elements from the list. -->

In [90]:
Numbers = [15, 40, 50, 100, 115, 140]
# Numbers[:4]
# Numbers[:-2]
Numbers[-6:-2]

[15, 40, 50, 100]

In [1]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}
Menu['meal_2']
Menu['meal_5'] = 'Noodle'
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Hamburger',
 'meal_4': 'Lasagna',
 'meal_5': 'Noodle'}

#### Revision Stat

<!-- #Practice -->

In [7]:
import pandas as pd 
import numpy as num
import matplotlib.pyplot as plt
import seaborn as sns

movie_df = pd.read_csv('movies.csv')
movie_df.head()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [ ]:
# Assessing Data
# After you have completed all the steps above, you should be able to see the movies dataset 
# in the form of a table.
# It is now time to assess the data. This process provides information such as:
# the number of rows and columns present in the data set (i.e. the shape of the DataFrame)
# columns present in the data set, along with the data type (use info or dtypes method)
# check how many NaN we have for MPAA Rating, Budget, Gross, Release Date, Genre, Runtime, 
# Rating and Rating Count columns
# understand which kind of information each column represents
# Please try to understand all these things using Pandas methods.

movie_df.shape
movie_df

(616, 11)