In [48]:
import pandas as pd
movies_df = pd.read_csv('movies_2.csv')
movies_df.head()
# movies_df.shape
# movies_df.dtypes

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

<!-- missing value NAAN check -->

In [49]:
import pandas as pd
movies_df = pd.read_csv('movies_2.csv')
# column_to_check = [["MPAA Rating", "Budget", "Gross", "Release Date", "Genre", "Runtime", "Rating", "Rating Count"]]
# missing_count = movies_df[column_to_check].isna().sum()

<!-- 1. Show the movies with more than 7 in Rating & greater than 50 million Gross
 -->

In [50]:

df = pd.read_csv("movies_2.csv")

df_filtered = df.dropna(subset=["Rating", "Gross"])

high_rated_profitable = df_filtered[(df_filtered["Rating"] > 7) & (df_filtered["Gross"] > 50000000)]
high_rated_profitable

# high_rated_profitable[["Title", "Rating", "Gross", "Genre"]]

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
6,7,When Harry Met Sally...,R,16000000.0,92800000.0,1989-07-21,Romance,96.0,7.6,180871.0,Harry and Sally have known each other for year...
...,...,...,...,...,...,...,...,...,...,...,...
505,506,Big Hero 6,PG,165000000.0,652105443.0,2014-10-24,Animation,102.0,7.8,380953.0,The special bond that develops between plus-si...
506,507,Interstellar,PG-13,165000000.0,675120017.0,2014-11-05,Science Fiction,169.0,8.6,1343549.0,A team of explorers travel through a wormhole ...
507,508,Captain America: The Winter Soldier,PG-13,170000000.0,714766572.0,2014-03-20,Action,136.0,7.7,685903.0,As Steve Rogers struggles to embrace his role ...
508,509,Dawn of the Planet of the Apes,PG-13,170000000.0,710644566.0,2014-06-26,Science Fiction,130.0,7.6,395425.0,A growing nation of genetically evolved apes l...
509,510,Guardians of the Galaxy,PG-13,170000000.0,773328629.0,2014-07-30,Action,121.0,8.0,978222.0,A group of intergalactic criminals must pull t...

In [51]:
# Show the movies with more than 7 in Rating & greater 
# than 50 million Gross & MPAA Rating as PG
df = pd.read_csv('movies_2.csv')
df_filter_MPAA = df.dropna(subset=['Rating','Gross','MPAA Rating']) 

df_final = df_filter_MPAA[(df_filter_MPAA['Rating'] >7) & (df_filter_MPAA['Gross'] >50000000) & (df_filter_MPAA['MPAA Rating'] == 'PG')]
df_final[['Rating','Gross','MPAA Rating']]
# df_final.shape
df_final

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
7,8,Dead Poets Society,PG,16400000.0,2.358601e+08,1989-06-02,Drama,129.0,8.1,382002.0,English teacher John Keating inspires his stud...
13,14,Batman,PG,35000000.0,4.113489e+08,1989-06-23,Action,126.0,7.5,319517.0,The Dark Knight of Gotham City begins his war ...
15,16,The Little Mermaid,PG,40000000.0,2.223000e+08,1989-11-17,Animation,83.0,7.6,219221.0,A mermaid princess makes a Faustian bargain in...
16,17,Back to the Future Part II,PG,40000000.0,3.320000e+08,1989-11-20,Science Fiction,108.0,7.8,438940.0,"After visiting 2015, Marty McFly must repeat h..."
19,20,Steel Magnolias,PG,15000000.0,9.590409e+07,1989-11-15,Drama,119.0,7.3,43037.0,"A young beautician, newly arrived in a small L..."
24,25,Home Alone,PG,18000000.0,4.766847e+08,1990-11-09,Family,103.0,7.6,414472.0,An eight-year-old troublemaker must protect hi...
32,33,The Hunt for Red October,PG,30000000.0,1.992000e+08,1990-03-02,Thriller,134.0,7.6,167212.0,"In November 1984, the Soviet Unions best subma..."
34,35,Back to the Future Part III,PG,40000000.0,2.445276e+08,1990-05-25,Family,118.0,7.4,369652.0,"Learning about the death of Doc Brown in 1885,..."
45,46,Teenage Mutant Ninja Turtles II,PG,25000000.0,7.860000e+07,1991-03-22,Action,88.0,8.0,397467.0,The Turtles and the Shredder battle once again...
46,47,Beauty and the Beast,PG,25000000.0,3.773506e+08,1991-11-13,Animation,84.0,8.0,397467.0,A prince cursed to spend his days as a hideous...
49,50,Star Trek VI: The Undiscovered Country,PG,27000000.0,9.690000e+07,1991-12-05,Science Fiction,113.0,7.2,66086.0,"On the eve of retirement, Kirk and McCoy are c..."
72,73,A League of Their Own,PG,40000000.0,1.074588e+08,1992-07-01,Comedy,128.0,7.2,85932.0,Two sisters join the first female professional...
80,81,Groundhog Day,PG,14600000.0,7.090697e+07,1993-02-11,Comedy,101.0,8.0,549538.0,A weatherman finds himself inexplicably living...
106,107,Star Trek: Generations,PG,38000000.0,1.200000e+08,1994-11-17,Science Fiction,118.0,8.5,869127.0,With the help of long presumed dead Captain Ki...
126,127,Mr. Holland's Opus,PG,31000000.0,1.062700e+08,1995-12-29,Family,137.0,7.3,33906.0,A frustrated composer finds fulfillment as a h...
130,131,Apollo 13,PG,52000000.0,3.552379e+08,1995-06-30,Drama,140.0,7.6,250975.0,NASA must devise a strategy to return Apollo 1...
174,175,Contact,PG,90000000.0,1.711203e+08,1997-07-11,Science Fiction,150.0,7.4,239569.0,"Dr. Ellie Arroway (Jodie Foster), after years ..."
185,186,The Truman Show,PG,60000000.0,2.641182e+08,1998-06-04,Comedy,103.0,8.1,859224.0,An insurance salesman discovers his whole life...
188,189,The Prince of Egypt,PG,70000000.0,2.186132e+08,1998-12-15,Animation,99.0,7.1,110340.0,An Egyptian prince learns of his identity as a...
215,216,Tarzan,PG,150000000.0,4.480000e+08,1999-06-18,Animation,88.0,7.3,187724.0,A man raised by gorillas must decide where he ...
220,221,Remember the Titans,PG,30000000.0,1.367067e+08,2000-09-29,Drama,113.0,7.8,186997.0,The true story of a newly appointed African-Am...
241,242,Shrek,PG,60000000.0,4.844092e+08,2001-05-16,Animation,90.0,7.8,574978.0,A mean lord exiles fairytale creatures to the ...
255,256,Harry Potter and the Sorcerer's Stone,PG,125000000.0,9.751000e+08,2001-11-04,Fantasy,152.0,7.6,583224.0,An orphaned boy enrolls in a school of wizardr...
261,262,Ice Age,PG,59000000.0,3.832571e+08,2002-03-10,Animation,81.0,7.5,411963.0,"Set during the Ice Age, a sabertooth tiger, a ..."
270,271,Harry Potter and the Chamber of Secrets,PG,100000000.0,8.766885e+08,2002-11-13,Fantasy,161.0,7.4,505027.0,An ancient prophecy seems to be coming true wh...
304,305,The Incredibles,PG,92000000.0,6.314421e+08,2004-11-05,Animation,115.0,8.0,617102.0,"A family of undercover superheroes, while tryi..."
309,310,Harry Potter and the Prisoner of Azkaban,PG,130000000.0,7.898046e+08,2004-05-31,Fantasy,141.0,7.9,501648.0,Its Harrys third year at Hogwarts; not only do...
311,312,Shrek 2,PG,150000000.0,9.198388e+08,2004-05-19,Animation,93.0,7.2,391295.0,Princess Fionas parents invite her and Shrek t...
385,386,Kung Fu Panda,PG,130000000.0,6.317446e+08,2008-06-04,Animation,90.0,7.5,390478.0,The Dragon Warrior has to clash against the sa...
410,411,Monsters vs Aliens,PG,175000000.0,3.815099e+08,2009-03-19,Animation,94.0,7.7,374981.0,NaN
411,412,Up,PG,175000000.0,7.350991e+08,2009-05-13,Animation,96.0,8.2,867393.0,Seventy-eight year old Carl Fredricksen travel...
415,416,Harry Potter and the Half-Blood Prince,PG,250000000.0,9.339592e+08,2009-07-07,Fantasy,153.0,7.6,429384.0,As Harry Potter begins his sixth year at Hogwa...
420,421,Despicable Me,PG,69000000.0,5.435140e+08,2010-07-08,Animation,95.0,7.6,473121.0,When a criminal mastermind uses a trio of orph...
425,426,Megamind,PG,130000000.0,3.218872e+08,2010-10-28,Animation,95.0,7.2,212563.0,The supervillain Megamind finally defeats his ...
428,429,How to Train Your Dragon,PG,165000000.0,4.948788e+08,2010-03-05,Animation,98.0,8.1,624128.0,A hapless young Viking who aspires to hunt dra...
435,436,Tangled,PG,260000000.0,5.917949e+08,2010-11-24,Animation,100.0,7.7,374981.0,The magically long-haired Rapunzel has spent h...
447,448,Puss in Boots: The Three Diablos,PG,130000000.0,5.550000e+08,2011-12-08,Animation,130.0,7.8,727724.0,NaN
451,452,Kung Fu Panda 2,PG,150000000.0,6.656923e+08,2011-05-25,Animation,91.0,7.2,234612.0,Po and his friends fight to stop a peacock vil...
461,462,Hotel Transylvania,PG,85000000.0,3.583756e+08,2012-09-20,Animation,91.0,7.1,208916.0,"Dracula, who operates a high-end resort away f..."
466,467,Wreck-It Ralph,PG,165000000.0,4.712229e+08,2012-11-01,Animation,108.0,7.7,354202.0,A video game villain wants to be a hero and se...
468,469,Brave,PG,185000000.0,5.389832e+08,2012-06-21,Animation,93.0,7.1,346490.0,"Determined to make her own path in life, Princ..."
480,481,Despicable Me 2,PG,76000000.0,9.707619e+08,2013-06-25,Animation,98.0,7.4,350582.0,"When Gru, the worlds most super-bad turned sup..."
484,485,The Croods,PG,135000000.0,5.851789e+08,2013-03-20,Animation,98.0,7.2,180043.0,"After their cave is destroyed, a caveman famil..."
485,486,Frozen,PG,150000000.0,1.274219e+09,2013-11-27,Animation,102.0,7.5,527284.0,When the newly-crowned Queen Elsa accidentally...
498,499,The Lego Movie,PG,60000000.0,4.691607e+08,2014-02-06,Animation,100.0,7.8,309295.0,"An ordinary LEGO construction worker, thought ..."
503,504,How to Train Your Dragon 2,PG,145000000.0,6.091230e+08,2014-06-12,Animation,102.0,7.8,285394.0,When Hiccup and Toothless discover an ice cave...
505,506,Big Hero 6,PG,165000000.0,6.521054e+08,2014-10-24,Animation,102.0,7.8,380953.0,The special bond that develops between plus-si...

<!-- 3. Show the count of Animation movies with more than 7 in Rating (use the shape() method) -->

In [52]:
df_final[['Rating','Gross','MPAA Rating','Genre']]
import pandas as pd 
df = pd.read_csv('movies_2.csv')
df_filter= df.dropna(subset=['Rating','Gross','MPAA Rating']) 
# df_final = df_filter_MPAA[(df_filter_MPAA['Rating'] >7) & (df_filter_MPAA['Gross'] >50000000) & (df_filter_MPAA['MPAA Rating'] == 'PG')]

df_filter_animation = df_filter[(df_filter['Genre'] == 'Animation') & (df_filter['Rating'] > 7)]
df_filter_animation
# df_filter_animation[['Rating','Genre']]
df_filter_animation.shape

(39, 11)

In [53]:

df_filter_animation = df_filter[(df_filter['Genre'] == 'Animation')]
df_rating = df_filter_animation[(df_filter_animation['Rating'] > 7)]
df_rating[['Rating','Gross','MPAA Rating','Genre']]
df_rating.shape

(39, 11)

<!-- 4. Show the top 5 movies based on Budget
 -->

In [54]:
import pandas as pd 
df = pd.read_csv('movies_2.csv')
top5 = df.nlargest(5,'Budget')
top5[['Title', 'Budget']]

# smallest 5

# smallest5 = df.nsmallest(5,'Budget')
# smallest5[['Title', 'Budget']]

                                           Title       Budget
594                       Avengers: Infinity War  400000000.0
454  Pirates of the Caribbean: On Stranger Tides  380000000.0
614                            Avengers: Endgame  356000000.0
574                     Star Wars: The Last Jedi  317000000.0
375     Pirates of the Caribbean: At World's End  300000000.0

In [55]:
# <!-- 5. Show the top 5 Comedy movies by Rating

import pandas as pd
df = pd.read_csv('movies_2.csv')
count_clean = df.dropna(subset=['Title','Genre','Rating','Gross'])
# count_1 = count_clean[(count_clean['Genre']== 'Comedy') & (count_clean['Rating'] > 7 )]
# count_1[['Title','Genre','Rating','Gross']]
count_1 = count_clean[(count_clean['Genre']== 'Comedy')]

count2 = count_1.nlargest(5, 'Rating')
count2
# count_clean

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
111,112,Forrest Gump,PG-13,55000000.0,677945399.0,1994-07-06,Comedy,142.0,8.8,1657851.0,"The presidencies of Kennedy and Johnson, the e..."
185,186,The Truman Show,PG,60000000.0,264118201.0,1998-06-04,Comedy,103.0,8.1,859224.0,An insurance salesman discovers his whole life...
80,81,Groundhog Day,PG,14600000.0,70906973.0,1993-02-11,Comedy,101.0,8.0,549538.0,A weatherman finds himself inexplicably living...
254,255,"Monsters, Inc.",G,115000000.0,562816256.0,2001-11-01,Comedy,92.0,8.0,758349.0,"In order to power the city, monsters have to s..."
40,41,Fried Green Tomatoes,PG-13,11000000.0,119418501.0,1991-12-27,Comedy,130.0,7.7,62493.0,A housewife who is unhappy with her life befri...

<!-- 5. Show the top 5 Comedy movies by Rating
 -->

In [56]:
import pandas as pd
df = pd.read_csv('movies_2.csv')
top5_calc = df.dropna(subset=['Title','Rating','Gross','Genre'])
top5_calc1 = top5_calc[(top5_calc['Genre']== 'Comedy')]
top5_calc2 = top5_calc1.nlargest(5,'Rating')
top5_calc2[['Title','Rating','Gross','Genre']]


# top5_com = top5_calc[(top5_calc(['Genre']== 'Comedy') & (top5_calc['Rating']== df.nlargest(5,'Rating'))])]

# df_filter_animation = df_filter[(df_filter['Genre'] == 'Animation') & (df_filter['Rating'] > 7)]

# top5_com[['']]

                    Title  Rating        Gross   Genre
111          Forrest Gump     8.8  677945399.0  Comedy
185       The Truman Show     8.1  264118201.0  Comedy
80          Groundhog Day     8.0   70906973.0  Comedy
254        Monsters, Inc.     8.0  562816256.0  Comedy
40   Fried Green Tomatoes     7.7  119418501.0  Comedy

<!-- 6 Top 5 movie names by Rating
 -->

In [57]:
top5_calc1_Movie = df.dropna(subset= ['Title','Rating','Gross','Genre'])
top5_calc1_Movie1 = top5_calc1_Movie.nlargest(5,'Rating')
top5_calc1_Movie1[['Title','Rating','Gross','Genre']]

,Title,Rating,Gross,Genre
393,The Dark Knight,9.0,1.004558e+09,Action
83,Schindler's List,8.9,3.213656e+08,History
98,Jurassic Park III,8.9,3.688000e+08,Thriller
99,Pulp Fiction,8.9,2.139288e+08,Thriller
287,The Lord of the Rings: The Return of the King,8.9,1.118889e+09,Fantasy

<!-- 7. Top 3 high Gross Romance movies released after 1999 (typecast it to datetime) -->

In [58]:
# print(df)
from datetime import datetime
df = pd.read_csv('movies_2.csv')
df['Release Date'] = pd.to_datetime(df['Release Date'])

# 'Movies released after 1999'
counter = pd.to_datetime('1999-12-31')
romance_gdf = df.dropna(subset=['Gross', 'Genre','Release Date'])

romance_df = romance_gdf[(romance_gdf['Genre']== 'Romance') & (romance_gdf['Release Date']> counter)]
top3_df = romance_df.nlargest(3,'Gross')
top3_df

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
464,465,The Twilight Saga: Breaking Dawn - Part 2,PG-13,120000000.0,829000000.0,2012-11-13,Romance,115.0,5.5,218357.0,"After the birth of Renesmee/Nessie, the Cullen..."
442,443,The Twilight Saga: Breaking Dawn - Part 1,PG-13,110000000.0,712171856.0,2011-03-15,Romance,117.0,4.9,211592.0,The Quileutes close in on expecting parents Ed...
401,402,The Twilight Saga: New Moon,PG-13,50000000.0,709827462.0,2009-03-15,Romance,130.0,4.7,252223.0,Edward leaves Bella after an attack that nearl...

<!-- 

 8. How many of each Genre are present in the DataFrame? (use value_counts() method which applies to Series, not DataFrame)
 -->

In [59]:
import pandas as pd
df = pd.read_csv('movies_2.csv')
df_clean = df.dropna()
df_clean = df_clean.copy()
df_clean['Date'] = pd.to_datetime(df_clean['Release Date'], format='mixed')
df_count = df.value_counts('Genre')
print(df_count)


# import pandas as pd

# df = pd.read_csv('movies_2.csv')
# df_clean = df.dropna(subset=['Date'])  # Only drop rows where 'Date' is missing
# df_clean = df_clean.copy()
# df_clean['Date'] = pd.to_datetime(df_clean['Date'], format='mixed')

Genre
Action             110
Comedy              99
Animation           87
Drama               66
Thriller            41
Science Fiction     37
Adventure           30
Family              29
Romance             28
Fantasy             27
Crime               17
Horror              14
Mystery             11
War                  9
Western              6
History              4
Name: count, dtype: int64

In [60]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("movies_2.csv")

# Use value_counts() on the Genre column (a Series)
genre_counts = df['Genre'].value_counts()

# Display the result
print(genre_counts)

Genre
Action             110
Comedy              99
Animation           87
Drama               66
Thriller            41
Science Fiction     37
Adventure           30
Family              29
Romance             28
Fantasy             27
Crime               17
Horror              14
Mystery             11
War                  9
Western              6
History              4
Name: count, dtype: int64

<!-- Top 5 most expensive movies released after 1999 (measured by Budget)
 -->

In [61]:
import pandas as pd
df = pd.read_csv('movies_2.csv')
df_clean = df.dropna()
df_clean = df_clean.copy()
df_clean['Date'] = pd.to_datetime(df_clean['Release Date'], format='mixed')
df_count = df_clean[(df_clean['Release Date']> '1999.12.31')]
# print(df_count)
df_count_b = df_count.nlargest(5, 'Budget')
df_count_b


# # 'Movies released after 1999'
# counter = pd.to_datetime('1999-12-31')
# romance_gdf = df.dropna(subset=['Gross', 'Genre','Release Date'])

# romance_df = romance_gdf[(romance_gdf['Genre']== 'Romance') & (romance_gdf['Release Date']> counter)]
# top3_df = romance_df.nlargest(3,'Gross')
# top3_df

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary,Date
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000.0,1.045714e+09,2011-05-14,Action,136.0,6.6,455211.0,Jack Sparrow and Barbossa embark on a quest to...,2011-05-14
375,376,Pirates of the Caribbean: At World's End,PG-13,300000000.0,9.610000e+08,2007-05-19,Adventure,169.0,7.1,565402.0,"Captain Barbossa, Will Turner and Elizabeth Sw...",2007-05-19
355,356,Superman Returns,PG-13,270000000.0,3.910812e+08,2006-06-28,Action,154.0,6.0,262915.0,Superman returns to Earth after spending five ...,2006-06-28
435,436,Tangled,PG,260000000.0,5.917949e+08,2010-11-24,Animation,100.0,7.7,374981.0,The magically long-haired Rapunzel has spent h...,2010-11-24
374,375,Spider-Man 3,PG-13,258000000.0,8.908716e+08,2007-05-01,Action,139.0,6.2,470900.0,A strange black entity from another world bond...,2007-05-01

In [62]:
import pandas as pd
df = pd.read_csv('movies_2.csv')
df_clean = df.dropna()
df_clean = df_clean.copy()
df_clean['Date'] = pd.to_datetime(df_clean['Release Date'], format='mixed')
df_count = df_clean[df_clean['Date']> '1999.12.31'].nlargest(5, 'Budget')
# df_count = df_clean[df_clean['Date'] < '1999-12-31'].nlargest(5, 'Budget')

df_count
# print(df_count)
# df_count_b = df_count.nlargest(5, 'Budget')
# df_count_b

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary,Date
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000.0,1.045714e+09,2011-05-14,Action,136.0,6.6,455211.0,Jack Sparrow and Barbossa embark on a quest to...,2011-05-14
375,376,Pirates of the Caribbean: At World's End,PG-13,300000000.0,9.610000e+08,2007-05-19,Adventure,169.0,7.1,565402.0,"Captain Barbossa, Will Turner and Elizabeth Sw...",2007-05-19
355,356,Superman Returns,PG-13,270000000.0,3.910812e+08,2006-06-28,Action,154.0,6.0,262915.0,Superman returns to Earth after spending five ...,2006-06-28
435,436,Tangled,PG,260000000.0,5.917949e+08,2010-11-24,Animation,100.0,7.7,374981.0,The magically long-haired Rapunzel has spent h...,2010-11-24
374,375,Spider-Man 3,PG-13,258000000.0,8.908716e+08,2007-05-01,Action,139.0,6.2,470900.0,A strange black entity from another world bond...,2007-05-01

<!-- Ex.10... Most & least frequent MPAA Rating in the dataset in terms of occurrences
 -->

In [ ]:
# Most & least frequent MPAA Rating in the dataset in terms of occurrences


import pandas as pd
df = pd.read_csv('movies_2.csv')
df_clean = df.dropna(subset=['MPAA Rating'])
df_count = df_clean.value_counts('MPAA Rating')
df_count
most_freq = df_count.idxmax()
least_freq = df_count.idxmin()
print(f'MPAA Rating occurance {df_count}')
print(f'Most frequent MPAA rating is {most_freq}')
print(f'Least frequent MPAA rating is {least_freq}')

MPAA Rating occurance MPAA Rating
PG-13    285
PG       161
R        142
G         27
Name: count, dtype: int64
Most frequent MPAA rating is PG-13
Least frequent MPAA rating is G

<!-- Ex..11. Most & least expensive Genre (take an average of all Budget measures grouped by Genre - use the groupBy() method)
 -->

<!-- Most & least expensive Genre (take an average of all Budget measures grouped by Genre - use the groupBy() method)
 -->

In [42]:
# Most & least expensive Genre (take an average of all Budget measures grouped by Genre - use the groupBy() method)


import pandas as pd
df = pd.read_csv('movies_2.csv')
clean_df = df.dropna(subset=['Genre','Budget'])
# clean_df

calc_avg = clean_df.groupby('Genre')['Budget'].mean()
calc_exp = calc_avg.idxmax()
calc_les = calc_avg.idxmin()
# print('Most expensive movie genre is:', calc_avg.idxmax)
print('Most expensive movie genre is:', {calc_exp})
print('Less expensive genre is:',{calc_les})

Most expensive movie genre is: {'Fantasy'}
Less expensive genre is: {'Horror'}

In [44]:
calc_exp = calc_avg.idxmin
calc_exp

<bound method Series.idxmin of Genre
Action             1.441682e+08
Adventure          1.338333e+08
Animation          1.158793e+08
Comedy             4.957727e+07
Crime              5.658824e+07
Drama              5.592576e+07
Family             6.268966e+07
Fantasy            1.612111e+08
History            5.550000e+07
Horror             3.700429e+07
Mystery            1.035455e+08
Romance            4.540020e+07
Science Fiction    1.267838e+08
Thriller           8.658537e+07
War                9.075556e+07
Western            7.983333e+07
Name: Budget, dtype: float64>

In [75]:
# Which Genre is most favoured?


import pandas as pd
df = pd.read_csv('movies_2.csv')
clean_df = df.dropna(subset=['Genre','Gross','Rating'])
clean_df

calc_avg = clean_df.groupby('Genre')['Rating'].mean()
# calc_avg2 = clean_df.groupby('Genre')['Gross'].mean()
calc_fav_gen = calc_avg.idxmax()

calc_fav1_rat = calc_avg.max()
print(f'Most favourite movie is: {calc_fav_gen} with average rating: {calc_fav1_rat}' )
# with rating {calc_fav_rat} )




# calc_les = calc_avg.idxmin()
# print('Most expensive movie genre is:', calc_avg.idxmax)
# print('Most Favoured movie genre is:', {calc_exp})

Most favourite movie is: History with average rating: 7.625